
<!DOCTYPE html>
<style>
    nav a {
        text-decoration: none;
        color: inherit;
        font-size: 14px;
    }

    nav li {
        display: inline-block;
        width: 150px;
        height: 30px;
        padding: 5px 10px;
        background-color: #337ab7;
        border: 1px solid #000;
        text-align: center;
        color: #fff;
        position: relative;
    }

        nav li:hover {
            background-color: #fff;
            color: #000;
        }

        nav li > ul {
            display: none;
        }

        nav li:hover > ul {
            display: block;
            position: absolute;
            top: 30px;
            left: 0px;
        }



</style>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Hospitalario</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<body style="background: -webkit-linear-gradient(90deg, lightgray 50%, lightstellblue 75%)">
    <header style="background-color: darkblue; color: white; text-align: center">
        <br /><h3>Sistema Hospitalario</h3><br />
    </header>
    <nav class="row" style="background-color: gray; height:35px;margin: 0px 0px 0px 0px">
        <ul>
            <li>
                <a href="#">Mantenimientos</a>
                <ul>
                    <li><a href="/mPersonas/Index">Personas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Agendamiento</a>
                <ul>
                    <li><a href="/mCitas/Index">Citas</a></li>
                </ul>
            </li>

            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <main class="row" style="margin: 2% 2% 2% 2%; background-color:beige; width:96%">
        <div class="container">

            @RenderBody()
        </div>
    </main>

    <footer style="background-color: darkblue; color: white; text-align: center ">
        <br /><small>&copy; @DateTime.Now.Year  Todos los derechos reservados 2022 -      German Camacho B.</small><br />
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Tablas').DataTable();
    });
</script>

