@model IEnumerable<ComplexivoSIH.Models.mCita>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}

<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert alert-@ViewBag.alerta">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />

<p>
    @Html.ActionLink("Imprimir", "RepResumen", new { }, new { @class = "btn btn-info" }) |
</p>
<table id="Tablas" class="table table-striped table-bordered" style="width:80%">
    <thead>
        <tr>
            <th>
                <pre>Id     </pre>
            </th>
            <th>
                <pre>Apellidos        </pre>
            </th>
            <th>
                <pre>Nombres           </pre>
            </th>
            <th>
                <pre>Nro Paciente      </pre>
            </th>
            <th>
                <pre>Calificación   </pre>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona1.persona_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona1.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona1.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona.persona_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calificacion)
            </td>

        </tr>
    }

</table>
<br />
<br />
<br />

<div id="msgerror" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta"><b>@ViewBag.error</b></div>
