@model ComplexivoSIH.Models.rMedico_Especialidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>rMedico_Especialidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPersona.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPersona.identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.registro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
