@model IEnumerable<ComplexivoSIH.Models.mAtencion>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}

<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert alert-@ViewBag.alerta">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create", new { }, new { @class = "btn btn-info" }) |
    <input onclick="jsInactivo(1);" type="button" value="Ver Todos los Registros" class="btn btn-info" /> |
    <input onclick="jsSoloInactivo(2);" type="button" value="Ver Solo Inactivos" class="btn btn-info" /> |
    <input onclick="jsActivos(3);" type="button" value="Ver Solo Activos" class="btn btn-info" />
</p>
<table id="Tablas" class="table table-striped table-bordered" style="width:80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.examenes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCita.motivo)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.examenes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCita.motivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.atencion_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.atencion_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.atencion_id })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />

<div id="msgerror" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta"><b>@ViewBag.error</b></div>
<script>
    function jsInactivo(id) {
        url = "@Url.Content("~/mAtencions/Inactivos")" + "/" + id;
            $.post(url, function (data){
                if (data == "1") {
                    document.location.href = "@Url.Content("~/mAtencions/Index/1")"
                }
            })

    }
        function jsSoloInactivo(id) {
            url = "@Url.Content("~/mAtencions/Inactivos")" + "/" + id;
            $.post(url, function (data){
                if (data == "2") {
                    document.location.href = "@Url.Content("~/mAtencions/Index/2")"
                }
            })

    }
        function jsActivos(id) {
            url = "@Url.Content("~/mAtencions/Inactivos")" + "/" + id;
            $.post(url, function (data){
                if (data == "3") {
                    document.location.href = "@Url.Content("~/mAtencions/Index")"
                }
            })
    }
</script>
